*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */

.nav-a{
    text-decoration: none;
}


.nav-head{
    color: #616060;
    text-decoration: none;
    font-family: "Roboto Serif", serif;
}

.nav-icons{
    display: flex;
    gap: 40px;
}
.nav-i{
    color: #616060;
}

/* top-banner */

.top-text{
    font-family: "Roboto", sans-serif;
    color: #998d80;
    font-size: 24px;
}
.top-text3{
    font-family: "Roboto", sans-serif;
    color: #a09e9c;
    padding: 10px 0px;
}
.top-text2{
    font-family: "Roboto", sans-serif;
    color: #616060;
    padding: 15px 0px;
    font-size: 38px;
}
.top-price1{
    padding: 5px 5px;
    font-family: "Roboto", sans-serif;
    color: #616060;
}
.top-price2{
    padding: 5px 5px;
    font-family: "Roboto", sans-serif;
    color: #bbb9b9;
}
.top-btn1{
    padding: 20px 30px;
    font-family: "Roboto", sans-serif;
    background-color: #e99c2e;
    border:1px solid #e99c2e;
    color: white;
    transition: all 0.5s;
}
.top-btn1:hover{
    color: #e99c2e;
    background-color: transparent;
    border: 1px solid #e99c2e;
}
.top-btn2{
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border:1px solid transparent;
    color: #e99c2e;
    transition: all 0.5s;
}
.top-btn2:hover{
    border: 1px solid #e99c2e;
}
.top-img img{
    width: 100%;
}

/* containers */

.container-navbar{
    max-width: 100%;
    margin: auto;
    padding: 30px 0;
    background-color: #f1f2fd;
}
.container-top{
    max-width: 100%;
    background-color: #f1f2fd;
    margin: auto;
    padding: 200px;
}


/* d-flex */

.d-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.d-flex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.d-flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* boxes */

.box-nav{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto Serif", serif;
    color: #616060;
}


/* padding */

.ps-200{
    padding: 0px 200px;
}
.ps-40{
    padding-left: 40px;
    padding-right: 40px;
}

/* hover */

.box-nav:hover{
    color: orange;
}

nav:hover{
    color: orange;
}
.nav-i:hover{
    color: orange;
}